<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles block_tags %}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<!--<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">-->

{% compress css %}
<link href="{{ STATIC_URL }}css/sub-menus.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/page-layouts.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/simplemodal.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery.selectbox.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{{ STATIC_URL }}js/jquery.selectbox-0.2.js" type='text/javascript' ></script>
<script src="{% static "js/functions.js" %}"></script>
<script src="{{ STATIC_URL }}js/jquery.selectbox-0.2.js" type="text/javascript"></script>
<script src="{% static "js/flowplayer/flowplayer-3.2.13.min.js" %}"></script>
<script>
/***
    Ready funciton
***/
$(function() {
  setInterval(function(){
    $("#search_ddl").selectbox();
    getDayName();
    getFullDate();
    getTime();
  },500);

  getMainSidebar();

  {% if page.listagem %}
    {% if page.listagem.tipo == 'prot_pub' %}
        {% if page.parent %}
        getBottoms(true, "{{ page.pk }}", "{{ page.listagem.title }}", 'prot_pub', "{{ page.slug }}", "{{ page.parent }}-nav");
        {% else %}
        getBottoms(true, "{{ page.pk }}", "{{ page.listagem.title }}", 'prot_pub', "{{ page.slug }}");
        {% endif %}
    {% else %}
        {% if page.parent %}
        getBottoms(true, "{{ page.pk }}", "{{ page.listagem.title }}", 'proj_serv', "{{ page.slug }}", "{{ page.parent }}-nav");
        {% else %}
        getBottoms(true, "{{ page.pk }}", "{{ page.listagem.title }}", 'proj_serv', "{{ page.slug }}");
        {% endif %}
    {% endif %}
  {% else %}
    getBottoms(false);
  {% endif %}
});
</script>
<script src="{{ STATIC_URL }}js/jquery.simplemodal.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/simplemodal.basic.js" type='text/javascript' ></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
    <header>
        <div id="logo-left">
            <p>iifa<p>
        </div>
        <div id="logo-right">
            <p>instituto de investigação e formação avançada da universidade de évora<p>
        </div>
        <nav>
            {% page_menu "menus/header_menu.html" %}
        </nav>
        <div id="clock">
            <h1 id="clock-time"></h1>
            <h2 id="clock-day"></h2>
            <h3 id="clock-date"></h3>      
        </div>
    </header>
    <div class="container">
      <div class="content">
        <div id="dynamic-content" class="content-container">
            {% block main %}
            {% endblock %}
            {% if page.slider %}
                <script>
                slides_str = "";
                $.get("/get/sliders/1", function(data) {
                    $.each(data, function(id, element) {
                        slides_str += "<img id='slide-" + id + "' class='page sidebar-img' src='/media/" + element.imagem + "'\\>";
                    });
                    $("#dynamic-content").html(slides_str);
                });
                </script>
            {% endif %}
        </div>
      </div>
      <div id="sidebar-container" class="sidebar">
      </div>
    </div>
    <footer>
        <div class="footer-info">
        </div>
        <div class="footer-links">
            <div>
                <a>Ficha Técnica</a>
                <p>Todos os direitos reservados IIFA &copy; 2014</p>
            </div>
        </div>
    </footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
